#LogoImage {
  margin-top: -10px;
  margin-right: -5px;
  width: 150px;
  float: right;
}

#box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

div {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 250px;
  margin: 20px;
  border-radius: 20px;
}

div:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

p {
  font-weight: bold;
  font-size: large;
}

#box {
  display: column;
  flex-direction: row;
}
#search {
  width: 10px;
  height: 10px;
}

#SearchBar {
  outline-color: black;
  border-radius: 5px;
  height: 50px;
  font-size: large;
}
#SearchBar::placeholder {
  color: brown;
  font-weight: bold;
  font-size: large;
}

#loadmore {
  background-color: rgb(250, 250, 212);
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 20px auto;
  display: block;
}

#loadmore:hover {
  background-color: rgb(200, 200, 150);
  cursor: pointer;
}
