h1 {
  margin-top: -2px;
}
#LogoImage {
  margin-top: -2px;
  margin-right: -5px;
  width: 150px;
  float: right;
}

#box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#image {
  background-color: rgb(223, 222, 222);
  border-radius: 15px;
}
#card {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 250px;
  margin: 20px;
  border-radius: 20px;
}

#card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

p {
  font-weight: bold;
  font-size: large;
}

#box {
  display: column;
  flex-direction: row;
}
#search {
  width: 10px;
  height: 10px;
}

#SearchBar {
  margin-top: -20px;
  outline-color: black;
  border-radius: 5px;
  height: 50px;
  font-size: large;
}
#SearchBar::placeholder {
  color: brown;
  font-weight: bold;
  font-size: large;
}

#loadmore {
  background-color: rgb(250, 250, 212);
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 20px auto;
  display: block;
}

#loadmore:hover {
  background-color: rgb(200, 200, 150);
  cursor: pointer;
}

#sortmodal,
#SortGenerations {
  background-color: rgb(212, 212, 212);
  font-weight: bolder;
}

#FullSortModal {
  display: flex;
  justify-content: center;
}

#sortmodal label {
  margin-right: 1000px;
  display: flex;
  flex-direction: row;
}
#SortGenerations label {
  display: flex;
  flex-direction: row-reverse;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
