div {
  background-color: rgb(238, 238, 238);
  display: column;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  margin-right: 85px;
  padding: 10px;
  width: 250px;
  float: left;
  gap: 10px;
}

div:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.4s ease;
}

p {
  font-weight: bold;
  font-size: large;
}

#box {
  display: column;
  flex-direction: row;
}
#search {
  width: 10px;
  height: 10px;
}

#SearchBar {
  outline-color: black;
  background-color: rgb(250, 250, 212);
  border-radius: 5px;
  height: 50px;
  font-size: large;
}
#SearchBar::placeholder {
  color: brown;
  font-weight: bold;
  font-size: large;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: black;
  padding: 10px;
}
