div {
  display: column;
  flex-direction: row;
  border-style: solid;
  margin: 20px;
  padding: 10px;
  width: 250px;
  float: left;
  gap: 10px;
}
#box {
  display: column;
  flex-direction: row;
}
#search {
  width: 10px;
  height: 10px;
}

#SearchBar {
  background-color: rgb(255, 255, 170);
  border-radius: 30px;
  size: 10000;
  border: 30px;
}
#SearchBar::placeholder {
  color: brown;
  font-weight: bold;
}
